html {
  overflow-x: hidden;
}

body {
  font-family: 'Plus Jakarta Sans', 'Manrope', sans-serif !important;
  color: #131F60;
  --parallax-1: 0;
  --parallax-2: 0;
  --parallax-3: 0;
  background: #6355FF;
  overflow-x: hidden;
}

h1 {
  font-family: 'Plus Jakarta Sans', 'Manrope', sans-serif !important;
}

h2 {
  font-family: 'Plus Jakarta Sans', 'Manrope', sans-serif !important;
}

h3 {
  font-family: 'Plus Jakarta Sans', 'Manrope', sans-serif !important;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body {
  margin: 0;
  overflow-x: hidden;
}

button {
  font-family: 'Plus Jakarta Sans', 'Manrope', sans-serif;
  outline: none;
  border: none;
  color: #131F60;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  button {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 10px;
  }
  #navbar {
    background: #6355FF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  #navbar #mast {
    margin-left: 15px;
  }
  #navbar #mast h1 {
    font-size: 20px;
  }
  #navbar #mast img {
    height: 36px;
    margin-top: 2px;
  }
  #navbar #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar #nav h2 {
    font-size: 16px;
    letter-spacing: -0px;
    font-weight: 500;
    margin-right: 20px;
    color: white;
  }
  #navbar #nav h2:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  #navbar #nav button {
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 15px;
    font-weight: 700;
    border-radius: 50px;
  }
  #navbar #bars {
    display: none;
  }
  #footer {
    background: #131F60;
    width: 100vw;
    height: 150px;
    margin: 0;
  }
  #footer .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 35px;
    padding: 30px;
  }
  #footer .carousel .social {
    height: 44px;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  @-webkit-keyframes float-in {
    from {
      opacity: 0;
      -webkit-transform: translateY(60px);
              transform: translateY(60px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes float-in {
    from {
      opacity: 0;
      -webkit-transform: translateY(60px);
              transform: translateY(60px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  #stores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 25px;
  }
  #stores a {
    width: 30%;
    max-width: 350px;
  }
  #stores img {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 0;
    cursor: pointer;
    z-index: 2 !important;
    position: relative;
  }
  #stores img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #stores #stone {
    margin-top: 60px;
    -webkit-transform: translateY(var(--parallax-3));
            transform: translateY(var(--parallax-3));
    -webkit-animation: float-3 0.6s ease-out 0.4s forwards;
            animation: float-3 0.6s ease-out 0.4s forwards;
  }
  @-webkit-keyframes float-3 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  @keyframes float-3 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  #stores #millie {
    -webkit-transform: translateY(var(--parallax-1));
            transform: translateY(var(--parallax-1));
    -webkit-animation: float-1 0.6s ease-out 0.2s forwards;
            animation: float-1 0.6s ease-out 0.2s forwards;
  }
  @-webkit-keyframes float-1 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  @keyframes float-1 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  #stores #kels {
    margin-top: 120px;
    -webkit-transform: translateY(var(--parallax-2));
            transform: translateY(var(--parallax-2));
    -webkit-animation: float-2 0.6s ease-out 0.3s forwards;
            animation: float-2 0.6s ease-out 0.3s forwards;
  }
  @-webkit-keyframes float-2 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  @keyframes float-2 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  .slide {
    background: #EbEDFF;
    width: 100vw;
  }
  .fifth {
    background: #f0f2ff;
    padding: 200px 0 100px 0;
  }
  .fifth .wall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2vw;
  }
  .fifth .wall .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2vw;
  }
  .fifth .wall .profile {
    width: 28vw;
    max-width: 370px;
    padding: 5px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: white;
    border-radius: 20px;
    -webkit-box-shadow: 0 50px 80px rgba(0, 0, 0, 0.15);
            box-shadow: 0 50px 80px rgba(0, 0, 0, 0.15);
    opacity: 0;
    z-index: -2 !important;
  }
  .sixth {
    padding: 50px 0 80px 0;
  }
  .sixth .list {
    list-style-type: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 30px 0;
  }
  .sixth .list h3 {
    font-size: 22px;
    margin: 20px 0;
    color: rgba(19, 31, 96, 0.5);
    background: white;
    padding: 25px 40px 25px 30px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 20px 40px rgba(0, 16, 109, 0.1);
            box-shadow: 0px 20px 40px rgba(0, 16, 109, 0.1);
  }
  .sixth .list span {
    color: #131f60;
  }
  .sixth .list .emoji {
    margin-right: 10px;
  }
  .first {
    height: 100vh;
    background: #6355FF;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first .big {
    margin: auto;
    text-align: center;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0 60px 0;
  }
  .first .big h1 {
    font-size: 64px;
    line-height: 115%;
    font-weight: 800;
    letter-spacing: -0.5px;
    margin: 0;
    margin-bottom: 30px;
    text-shadow: 0px 20px 60px rgba(0, 0, 0, 0.2);
  }
  .first .big h3 {
    width: 70%;
    font-size: 22px;
    line-height: 130%;
    font-weight: 500;
    margin: 0;
    margin-bottom: 40px;
    opacity: 0.5;
  }
  .first button {
    padding: 25px 50px;
    border-radius: 100px;
    background: white;
    color: #131F60;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .first button h2 {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0px;
    margin: 0;
  }
  .first button img {
    height: 24px;
  }
  .first button:hover {
    gap: 20px;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .second {
    padding: 100px 0 100px 0;
    background: black;
  }
  .second .testimonial {
    padding: 30px;
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
    color: white;
  }
  .second .testimonial .avatar {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 30px;
    -webkit-box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2);
  }
  .second .testimonial .expo {
    width: 60%;
  }
  .second .testimonial .expo h1 {
    color: rgba(235, 237, 255, 0.6);
    font-size: 40px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.1px;
    width: 100%;
  }
  .second .testimonial .expo span {
    color: #ebedff;
    font-style: italic;
    font-weight: 900;
  }
  .second .testimonial .expo h2 {
    font-family: 'Inter', sans-serif !important;
    font-size: 22px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.8);
  }
  .second .testimonial .expo h3 {
    font-family: 'Inter', sans-serif !important;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.05px;
    margin: 0;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
  }
  .second .testimonial.right {
    text-align: right;
  }
  .slide_header {
    text-align: center;
  }
  .slide_header h1 {
    font-size: 32px;
    font-weight: 900;
  }
  .slide_header h2 {
    font-size: 18px;
    font-weight: 400;
  }
  .third {
    padding: 40px 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: #F8F7FA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third img {
    margin: auto;
    height: 60vh;
    max-height: 500px;
    width: auto;
    margin: 40px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 30px 50px rgba(0, 16, 109, 0.07);
            box-shadow: 0px 30px 50px rgba(0, 16, 109, 0.07);
  }
  .fourth {
    background: white;
    padding: 100px 0;
  }
  .fourth .infographic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0;
  }
  .fourth .infographic .expo {
    padding: 0px 50px;
    margin-top: -40px;
    margin-left: -30px;
    width: 40%;
  }
  .fourth .infographic .expo h1 {
    font-size: 40px;
    font-weight: 900;
  }
  .fourth .infographic .expo p {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
  }
  .fourth .infographic.right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }
  .fourth .infographic.right .expo {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@media screen and (max-width: 800px) {
  button {
    font-size: 20px;
    font-weight: 400;
    padding: 12px 24px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 10px;
  }
  #navbar {
    background: #6355ff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    overflow-x: hidden;
  }
  #navbar #mast {
    margin-left: 15px;
  }
  #navbar #mast h1 {
    font-size: 20px;
  }
  #navbar #mast img {
    height: 30px;
  }
  #navbar #nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 100vw;
    top: 0;
    background: #6355ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  #navbar #nav h2 {
    font-size: 20px;
    letter-spacing: -0px;
    font-weight: 400;
    color: white;
    margin: q0px;
  }
  #navbar #nav button {
    margin: 20px;
    background: white;
    font-weight: 600;
    border-radius: 50px;
    padding: 20px 40px;
  }
  #navbar #nav.active {
    left: 0;
  }
  #navbar #bars {
    z-index: 3;
    margin-right: 7px;
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #navbar #bars .bar {
    margin: 5px;
    background: white;
    width: 25px;
    height: 2px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #navbar #bars.active .bar.one {
    -webkit-transform: translate(0, 6px) rotate(45deg);
            transform: translate(0, 6px) rotate(45deg);
  }
  #navbar #bars.active .bar.two {
    -webkit-transform: translate(0, -6px) rotate(-45deg);
            transform: translate(0, -6px) rotate(-45deg);
  }
  #footer {
    background: #131F60;
    width: 100vw;
    height: 150px;
    margin: 0;
  }
  #footer .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 35px;
    padding: 30px;
  }
  #footer .carousel .social {
    height: 44px;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  @-webkit-keyframes float-in {
    from {
      opacity: 0;
      -webkit-transform: translateY(60px);
              transform: translateY(60px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes float-in {
    from {
      opacity: 0;
      -webkit-transform: translateY(60px);
              transform: translateY(60px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  #stores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    width: 100%;
    margin-top: 40px;
  }
  #stores img {
    width: 50vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  #stores img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  #stores #stone {
    margin-top: 60px;
    -webkit-transform: translateY(var(--parallax-3));
            transform: translateY(var(--parallax-3));
    -webkit-animation: float-3 0.6s ease-out 0.4s forwards;
            animation: float-3 0.6s ease-out 0.4s forwards;
  }
  @-webkit-keyframes float-3 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  @keyframes float-3 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  #stores #millie {
    -webkit-transform: translateY(var(--parallax-1));
            transform: translateY(var(--parallax-1));
    -webkit-animation: float-1 0.6s ease-out 0.2s forwards;
            animation: float-1 0.6s ease-out 0.2s forwards;
  }
  @-webkit-keyframes float-1 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  @keyframes float-1 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  #stores #kels {
    margin-top: 120px;
    -webkit-transform: translateY(var(--parallax-2));
            transform: translateY(var(--parallax-2));
    -webkit-animation: float-2 0.6s ease-out 0.3s forwards;
            animation: float-2 0.6s ease-out 0.3s forwards;
  }
  @-webkit-keyframes float-2 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  @keyframes float-2 {
    from {
      opacity: 0;
      padding-top: 60px;
    }
    to {
      opacity: 1;
      padding-top: 0;
    }
  }
  .fifth {
    background: #f0f2ff;
    padding: 50px 0 50px 0;
  }
  .fifth .wall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3vw;
  }
  .fifth .wall .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3vw;
  }
  .fifth .wall .column:nth-child(3) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fifth .wall .profile {
    width: 42vw;
    max-width: 370px;
    padding: 5px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 50px 80px rgba(0, 0, 0, 0.15);
            box-shadow: 0 50px 80px rgba(0, 0, 0, 0.15);
    opacity: 0;
    z-index: -2 !important;
  }
  .sixth {
    padding: 30px 0 30px 0;
  }
  .sixth .list {
    list-style-type: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 20px 0;
    width: 85%;
  }
  .sixth .list h3 {
    font-size: 14px;
    margin: 20px 0;
    color: rgba(19, 31, 96, 0.5);
    background: white;
    padding: 18px 30px 18px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 20px 40px rgba(0, 16, 109, 0.1);
            box-shadow: 0px 20px 40px rgba(0, 16, 109, 0.1);
  }
  .sixth .list span {
    color: #131f60;
  }
  .sixth .list .emoji {
    margin-right: 10px;
  }
  .slide {
    background: #EbEDFF;
    width: 100vw;
  }
  .first {
    height: 100vh;
    background: #6355FF;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first .big {
    margin: auto;
    text-align: center;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
  }
  .first .big h1 {
    font-size: 24px;
    line-height: 115%;
    font-weight: 800;
    letter-spacing: -0.5px;
    margin: 0;
    margin-bottom: 20px;
    text-shadow: 0px 20px 60px rgba(0, 0, 0, 0.2);
  }
  .first .big h3 {
    font-size: 14px;
    line-height: 130%;
    font-weight: 500;
    margin: 0;
    margin-bottom: 30px;
    opacity: 0.5;
  }
  .first button {
    padding: 18px 25px;
    border-radius: 100px;
    background: white;
    color: #131F60;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .first button h2 {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0px;
    margin: 0;
  }
  .first button img {
    height: 16px;
  }
  .first button:hover {
    gap: 20px;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .second {
    padding: 20px 0;
    background: #f0f2ff;
  }
  .second .testimonial {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    margin: 50px auto;
  }
  .second .testimonial .avatar {
    width: 30vw;
    height: 50vw;
    background-size: cover;
    background-position: 50% 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2);
  }
  .second .testimonial .expo {
    width: 100%;
  }
  .second .testimonial .expo h1 {
    font-size: 15px;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: -0.1px;
    width: 100%;
    margin: 0px;
  }
  .second .testimonial .expo span {
    color: #131f60;
    font-style: italic;
    font-weight: 900;
  }
  .second .testimonial .expo h2 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .second .testimonial .expo h3 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.05px;
    margin: 0;
    margin-bottom: 30px;
  }
  .second .testimonial.right {
    text-align: right;
  }
  .slide_header {
    text-align: center;
    width: 70%;
    margin: auto;
  }
  .slide_header h1 {
    font-size: 24px;
    font-weight: 900;
  }
  .slide_header h2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
  .third {
    padding: 30px 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: #F8F7FA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third img {
    margin: auto;
    width: 85vw;
    margin: 30px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 30px 50px rgba(0, 16, 109, 0.07);
            box-shadow: 0px 30px 50px rgba(0, 16, 109, 0.07);
  }
  .fourth {
    background: white;
    padding: 50px 0;
  }
  .fourth .infographic {
    gap: 0;
  }
  .fourth .infographic:nth-child(1) .expo {
    padding: 0px 30px;
    padding-bottom: 30px;
  }
  .fourth .infographic img {
    width: 90vw;
  }
  .fourth .infographic .expo {
    padding: 30px 30px;
  }
  .fourth .infographic .expo h1 {
    font-size: 22px;
    font-weight: 900;
    margin: 0;
  }
  .fourth .infographic .expo p {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
  }
  .fourth .infographic.right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }
}
/*# sourceMappingURL=style.css.map */