html {
  overflow-x: hidden;
}

body {
  font-family: 'Plus Jakarta Sans', 'Manrope', sans-serif !important;
  color: #131F60;
  --parallax-1: 0;
  --parallax-2: 0;
  --parallax-2: 0;
  background: #6355FF;
  overflow-x: hidden;
}

h1 {
  font-family: 'Plus Jakarta Sans', 'Manrope', sans-serif !important;
}

h2 {
  font-family: 'Plus Jakarta Sans', 'Manrope', sans-serif !important;
}

h3 {
  font-family: 'Plus Jakarta Sans', 'Manrope', sans-serif !important;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

body {
  margin: 0;
  overflow-x: hidden;
}

button {
  font-family: 'Plus Jakarta Sans', 'Manrope', sans-serif;
  outline: none;
  border: none;
  color: #131F60;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}

.anim {
  opacity: 0;
}

@media screen and (min-width: 800px) {
  button {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 10px;
  }
  #navbar {
    background: #6355FF;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  #navbar #mast {
    margin-left: 15px;
  }
  #navbar #mast h1 {
    font-size: 20px;
  }
  #navbar #mast img {
    height: 36px;
    margin-top: 2px;
  }
  #navbar #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbar #nav h2 {
    font-size: 16px;
    letter-spacing: -0px;
    font-weight: 500;
    margin-right: 20px;
    color: white;
  }
  #navbar #nav h2:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  #navbar #nav button {
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 15px;
    font-weight: 700;
    border-radius: 50px;
  }
  #navbar #bars {
    display: none;
  }
  #bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10px;
    background: black;
  }
  #bar #progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: #6355FF;
  }
  #footer {
    background: black;
    width: 100vw;
    height: 150px;
    margin: 0;
  }
  #footer .carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 35px;
    padding: 30px;
  }
  #footer .carousel .social {
    height: 44px;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  @-webkit-keyframes float-in {
    from {
      opacity: 0;
      -webkit-transform: translateY(60px);
              transform: translateY(60px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes float-in {
    from {
      opacity: 0;
      -webkit-transform: translateY(60px);
              transform: translateY(60px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  .slide {
    background: #EbEDFF;
    width: 100vw;
    padding: 50px 0 50px 0;
  }
  .slide_hero {
    height: calc(90vh - 100px);
    max-height: 900px;
    width: 110vw;
    background: white;
    background-image: url("../assets/rect.svg");
    background-size: cover;
    background-position: center bottom;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  .slide_hero #hero2 {
    background: green;
    position: relative;
    right: 0;
    top: 0;
    width: 750px;
    height: 750px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: none;
  }
  .slide_hero #big {
    position: relative;
    right: 0;
    top: 0;
    width: 750px;
    max-width: 100%;
    padding-left: 60px;
  }
  .slide_hero #big h1 {
    font-size: 72px;
    line-height: 105%;
    font-weight: 800;
    letter-spacing: -1.5px;
    margin: 0;
    margin-bottom: 30px;
  }
  .slide_hero #big h3 {
    width: 70%;
    font-size: 22px;
    line-height: 130%;
    font-weight: 500;
    margin: 0;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.6);
  }
  .slide_hero #big #cta {
    padding: 25px 40px;
    border-radius: 100px;
    background: #30FFB4;
    color: #131F60;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    -webkit-transition: 0.2s ease !important;
    transition: 0.2s ease !important;
  }
  .slide_hero #big #cta h2 {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0px;
    margin: 0;
  }
  .slide_hero #big #cta img {
    height: 24px;
  }
  .slide_hero #big #cta:hover {
    gap: 30px;
  }
  .slide_hero #hero {
    position: relative;
    right: 0;
    top: 0;
    width: 750px;
    aspect-ratio: 0.875;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0;
  }
  .slide_hero #hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50px, var(--parallax-1));
            transform: translate(-50px, var(--parallax-1));
  }
  .slide_hero #hero #hero_phone_1 {
    -webkit-transform: translate(-100px, var(--parallax-4));
            transform: translate(-100px, var(--parallax-4));
  }
  .slide_hero #hero #hero_phone_2 {
    -webkit-transform: translate(-100px, var(--parallax-1));
            transform: translate(-100px, var(--parallax-1));
  }
  .slide_hero #hero #hero_card_1 {
    -webkit-transform: translate(-100px, var(--parallax-2));
            transform: translate(-100px, var(--parallax-2));
  }
  .slide_hero #hero #hero_card_2 {
    -webkit-transform: translate(-100px, var(--parallax-2));
            transform: translate(-100px, var(--parallax-2));
  }
  .slide_hero #hero #hero_card_3 {
    -webkit-transform: translate(-100px, var(--parallax-1));
            transform: translate(-100px, var(--parallax-1));
  }
  .slide_hero #hero #hero_bubble_1 {
    -webkit-transform: translate(-100px, var(--parallax-2));
            transform: translate(-100px, var(--parallax-2));
  }
  .slide_hero #hero #hero_bubble_2 {
    -webkit-transform: translate(-100px, var(--parallax-2));
            transform: translate(-100px, var(--parallax-2));
  }
  .slide_hero #hero #hero_bubble_3 {
    -webkit-transform: translate(-100px, var(--parallax-1));
            transform: translate(-100px, var(--parallax-1));
  }
  .slide_highlight {
    padding-bottom: 0;
    background-color: white;
  }
  .slide_highlight .scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 60px;
    padding-top: 0;
  }
  .slide_highlight .highlight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .slide_highlight .highlight:nth-child(even) {
    -webkit-transform: translateY(var(--parallax-s1-1));
            transform: translateY(var(--parallax-s1-1));
  }
  .slide_highlight .highlight:nth-child(odd) {
    -webkit-transform: translateY(var(--parallax-s1-2));
            transform: translateY(var(--parallax-s1-2));
  }
  .slide_highlight .highlight .expo {
    text-align: center;
  }
  .slide_highlight .highlight .expo h1 {
    font-size: 18px;
    display: none;
  }
  .slide_highlight .highlight .expo h2 {
    font-size: 14px;
    background: #EbEDFF;
    padding: 12px 20px;
    border-radius: 50px;
  }
  .slide_highlight .highlight .profile {
    width: 230px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 20px 60px rgba(0, 16, 109, 0.1);
            box-shadow: 0px 20px 60px rgba(0, 16, 109, 0.1);
  }
  .slide_highlight .highlight .store {
    width: 250px;
  }
  .slide_wall {
    padding: 200px 0 100px 0;
  }
  .slide_wall .column:nth-child(1) {
    -webkit-transform: translateY(var(--parallax-s1-1));
            transform: translateY(var(--parallax-s1-1));
  }
  .slide_wall .column:nth-child(2) {
    -webkit-transform: translateY(var(--parallax-s1-2));
            transform: translateY(var(--parallax-s1-2));
  }
  .slide_wall .column:nth-child(3) {
    -webkit-transform: translateY(var(--parallax-s1-2));
            transform: translateY(var(--parallax-s1-2));
  }
  .slide_love {
    background: #111113;
    background: #eeeef9;
  }
  .slide_love .column:nth-child(1) {
    -webkit-transform: translateY(var(--parallax-s2-1));
            transform: translateY(var(--parallax-s2-1));
  }
  .slide_love .column:nth-child(2) {
    -webkit-transform: translateY(var(--parallax-s2-2));
            transform: translateY(var(--parallax-s2-2));
  }
  .slide_love .column:nth-child(3) {
    -webkit-transform: translateY(var(--parallax-s2-2));
            transform: translateY(var(--parallax-s2-2));
  }
  .slide_sell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 0;
    gap: 25px;
  }
  .slide_sell button {
    padding: 25px 40px;
    border-radius: 100px;
    background: #131F60;
    color: white;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    -webkit-transition: 0.2s ease !important;
    transition: 0.2s ease !important;
  }
  .slide_sell button h2 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0px;
    margin: 0;
  }
  .slide_sell button img {
    height: 24px;
    -webkit-filter: invert(100%) brightness(200%);
            filter: invert(100%) brightness(200%);
  }
  .slide_sell button:hover {
    gap: 30px;
  }
  .wall {
    margin: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2vw;
  }
  .wall .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: vw;
  }
  .wall .profile {
    width: 24vw;
    max-width: 370px;
    padding: 5px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: white;
    border-radius: 20px;
    -webkit-box-shadow: 0 50px 80px rgba(0, 0, 0, 0.15);
            box-shadow: 0 50px 80px rgba(0, 0, 0, 0.15);
  }
  .wall .profile:nth-child(2) {
    background-color: red;
    -webkit-transform: translateY(var(--parallax-1));
            transform: translateY(var(--parallax-1));
  }
  .wall .testimonial {
    width: 28vw;
    max-width: 370px;
    padding: 5px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 15px;
    -webkit-box-shadow: 0 50px 80px rgba(0, 0, 0, 0.15);
            box-shadow: 0 50px 80px rgba(0, 0, 0, 0.15);
    position: relative;
    background: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: white;
    color: #131f60;
    font-family: 'Inter', sans-serif !important;
  }
  .wall .testimonial .bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding: 20px;
    padding-bottom: 10px;
  }
  .wall .testimonial .bio .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f0f0f0;
  }
  .wall .testimonial .bio .expo h1 {
    font-family: 'Inter', sans-serif !important;
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
  }
  .wall .testimonial .bio .expo h2 {
    font-family: 'Inter', sans-serif !important;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
  }
  .wall .testimonial p {
    padding: 20px;
    padding-top: 0;
    font-size: 14px;
    line-height: 130%;
    font-weight: 400;
    letter-spacing: -0.05px;
  }
  .wall .testimonial .icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #F0F0F0;
    padding: 10px;
    background-size: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -5px;
    right: -5px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  }
  .wall .testimonial.twitter .icon {
    background-image: url("../assets/twitter.svg");
  }
  .wall .testimonial.instagram .icon {
    background-image: url("../assets/instagram.svg");
  }
  .slide_info {
    background: white;
  }
  .slide_info .infographic {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide_info .infographic img {
    height: 400px;
  }
  .slide_info .infographic .expo {
    width: 600px;
    max-width: 100%;
    padding: 1vw;
  }
  .slide_info .infographic .expo h1 {
    font-size: 44px;
    line-height: 120%;
    font-weight: 800;
    margin: 0;
    margin-bottom: 30px;
  }
  .slide_info .infographic .expo p {
    font-size: 18px;
    line-height: 150%;
    margin: 0;
  }
  .slide_info .infographic.right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }
  .slide_list {
    padding: 50px 0 80px 0;
  }
  .slide_list .list {
    list-style-type: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    padding: 30px 0;
  }
  .slide_list .list h3 {
    font-size: 22px;
    margin: 20px 0;
    color: rgba(19, 31, 96, 0.5);
    background: white;
    padding: 25px 40px 25px 30px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 20px 40px rgba(0, 16, 109, 0.1);
            box-shadow: 0px 20px 40px rgba(0, 16, 109, 0.1);
  }
  .slide_list .list span {
    color: #131f60;
  }
  .slide_list .list .emoji {
    margin-right: 10px;
  }
  .slide_header {
    text-align: center;
    margin-bottom: 60px;
  }
  .slide_header h1 {
    font-size: 36px;
    font-weight: 900;
  }
  .slide_header h2 {
    font-size: 18px;
    font-weight: 400;
  }
  .slide_offer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: #F8F7FA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide_offer img {
    margin: auto;
    height: 60vh;
    max-height: 500px;
    width: auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 30px 50px rgba(0, 16, 109, 0.07);
            box-shadow: 0px 30px 50px rgba(0, 16, 109, 0.07);
    margin-bottom: 40px;
  }
  .slide_carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background: white;
    padding: 120px 0;
    gap: 50px;
  }
  .slide_carousel .stat {
    width: 240px;
    aspect-ratio: 1;
    background: #f5f5f5;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slide_carousel .stat:nth-child(1) {
    -webkit-transform: translateY(var(--parallax-s3-1));
            transform: translateY(var(--parallax-s3-1));
  }
  .slide_carousel .stat:nth-child(2) {
    -webkit-transform: translateY(var(--parallax-s3-2));
            transform: translateY(var(--parallax-s3-2));
  }
  .slide_carousel .stat:nth-child(3) {
    -webkit-transform: translateY(var(--parallax-s3-2));
            transform: translateY(var(--parallax-s3-2));
  }
  .slide_carousel .stat.big {
    width: 280px;
  }
  .slide_carousel .stat h1 {
    font-size: 80px;
    font-weight: 900;
    margin: 0;
  }
  .slide_carousel .stat h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
  }
  .slide_carousel .stat h3 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin: 0;
    margin-top: 15px;
  }
  .slide_features .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
  }
  .slide_features .tabs .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    padding-bottom: 3px;
    gap: 10px;
    padding: 15px 18px 15px 15px;
    border-radius: 10px;
  }
  .slide_features .tabs .tab img {
    height: 26px;
  }
  .slide_features .tabs .tab h2 {
    font-size: 20px;
    margin: 0;
  }
  .slide_features .tabs .tab.active {
    opacity: 1;
    background: white;
  }
  .slide_features #area {
    margin: auto;
    height: 60vh;
    aspect-ratio: 1.57;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
  }
  .slide_features #area img {
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */